123
<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <localRepository>/Users/lq/LQ/Work/MyItems/MCCM/repository</localRepository>
  <servers>
    <server>
         <id>snapshots</id>
         <username>zhengran</username>
         <password>zhengran</password>
        </server>
  </servers>
    <mirrors>
        <mirror>
            <!--This sends everything else to /public -->
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <!--url>http://10.45.6.30:8081/nexus/content/groups/public/</url-->
      <url>http://10.45.4.150:8081/nexus/content/groups/public/</url>
        </mirror>
    <!--mirror>
      <id>CN</id>
      <name>OSChina Central</name>
      <url>http://maven.oschina.net/content/groups/public/</url>
      <mirrorOf>central</mirrorOf>
    </mirror-->
    </mirrors>
    <profiles>
        <profile>
            <id>nexus</id>
            <!--Enable snapshots for the built in central repo to direct -->
            <!--all requests to nexus via the mirror -->
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    <profile>
      <id>jdk-1.8</id>
      <activation>
        <jdk>1.8</jdk>
      </activation>
      <properties>
        <maven.compiler.source>1.8</maven.compiler.source>
        <maven.compiler.target>1.8</maven.compiler.target>
        <maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
      </properties>
      </profile>
    <profile>
      <id>maven_env</id>
      <activation>
      <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
      <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
      <root_repository>10.45.4.150:8081//nexus/content/repositories</root_repository>
      <site.url></site.url>
      <maven_test_skip>true</maven_test_skip>
      <zsmart_home>/Users/lq/LQ/Work/MyItems/MCCM/MCCM/ZSMART_HOME</zsmart_home>
      </properties>
    </profile>
    </profiles>
    <activeProfiles>
        <!--make the profile active all the time -->
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>
